
@font-face { font-family: TradeGothicLTStd-Bd2; src: url('../webfonts/TradeGothicLTStd-Bd2.otf'); } 




/*******************************************/
/* STICKY TOP NAVIGATION CSS CONTROLS */
/*******************************************/

#XV-lamp {
    height: 2px;
    max-height: 2px;
    position: absolute;
    left: 0;
    min-width: 20px;
    z-index: 100;
    bottom: 0px;
    background: #f6815c;
    margin-left:10px;
    padding-bottom:0;
}


.navbar-default {
    padding-top: 0px;
    z-index: 999999;
}

ul.navbar-nav {
    float: right;
    min-height: 30px;
}

/* ============================
   2-Navigation
   =========================== */

#sticktop{
    width:100%;
    left:0;
    -moz-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -0-animation-delay: 0s;
    animation-delay: 0s;
}

#sticktop.stickyNav{
    position:relative !important;
}
.nav-shadow{
    moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
    -o-box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
    box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
}


ul.navbar-nav {
    float: right;
    min-height: 40px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default{
    z-index:999999;
    /*padding-top:15px;*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2d3538;
    background: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
    font-size: 15px;
    /*line-height: 40px;*/
    color: #4c585c;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.navbar-default {
    background: #fff;
    border: none;
}

.navbar-nav > li {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.navbar-nav > li > a {
    padding: 0;
    padding-top: 5px;
    padding-bottom:0px;
    padding-left: 3px;
    padding-right: 3px;
    outline: none !important;
    overflow: hidden;
    cursor:pointer;
}



.navbar-default .container {
    position: relative;
}

.navbar-default .navbar-toggle {
    color: #fff;
    border-color: #fff;
    top:-2px;
    right:10px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

/*.navbar-nav {
    float: right;
    line-height: 0.6em;
    padding-top: 1em;
    font-family: TradeGothicLTStd-Bd2, sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
}*/


/*****/
/*General Styles*/
/*****/

.row{
    margin-right: 0px;
}

.navbar-default {
    background-color: #fff;
    border-color: #E7E7E7;
}

.navbar {
	min-height: 40px;
	margin-bottom: 0;
}

.navbar-nav {
	float: right;
	line-height: 0.6em;
    padding-top: 0em;
    font-family: TradeGothicLTStd-Bd2, sans-serif;
    font-size: 0.9em;
	letter-spacing: 1px;
}

.navbar-nav>li>a {
	padding-top: 0; 
	padding-bottom: 0;
	line-height: auto;
	margin-top: 2.5em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
   /* margin-top: 2.5em;*/
}

/*.mhz-title {
    color: #000;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 0.4em;
}*/

/*.zensi-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:#000000;
    font-size: 2em;
    line-height: 60px;
}*/

.logoimg{
    width:10em;
    margin-top: 0.1em;
}






/* =============================================== */
/* BENEFITS SECTION ============================== */
/* =============================================== */

#benefits {
    background-color: #ece9e9;
    padding-top: 5em;
    padding-bottom: 7em;
}

#benefits-text {
	color: #54b101;
}

#tour-text {
	color: #00b3b1;
}

#zensi-text {
	color: #9464b9;
}

#contact-text {
	color: #ff5a00;
}

#login-text {
	color: #000;
}



#benefits-sensitive-text {
	color: #000;
    font-size: 6em;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.benefits-taking-text {
	color: #000;
    font-size: 2.05em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom: 1em;
}

#benefits-watching-text {
	color: #000;
    font-size: 3.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    padding-top: .5em;
}

/* =============================================== */
/* TOUR SECTION ================================== */
/* =============================================== */

#tour {
	background-color: #f2fafa;
	background-image: url('../images/tour_background.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /*padding-top: 5em;*/
    padding-bottom: 5em;
}

#tour-monitoring-text {
	color: #000;
    font-size: 2.05em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 3em;
    margin-left: 3%;
}

#tour-watching-text {
	color: #048797;
    font-size: 5em;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin-left: 3%;
}



#tour-at-text {
	color: #000;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 3%;
    margin-top: 0.7em;
}

#tour-data-text {
    color: #86c400;
    font-size: 3.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 0.8em;
}

.tour-4columns {
    margin-top: 2.2em;
    text-align: center;
    margin-bottom: 2.2em;
}


.tour-col-title{
    color: #010101;
    font-size: 1.9em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 0.7em;   
}

.tour-col-text {
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-top: 1em;
    line-height: 1.6em;
 }

.col-centered{
    float: none;
    margin: 0 auto 0;
    text-align: center;
}

/* =============================================== */
/* ZENSIE VIDEO SECTION ========================== */
/* =============================================== */

#zensie-video-placeholder {
    margin-top: 1.5em;
    margin-bottom: 6em;
}

/* =============================================== */
/* ZENSIE SECTION ================================ */
/* =============================================== */
#zensie {
    background-color: #fafaf2;
}

#zensie-title {
    color: #a77cd3;
    font-family: 'Lato', sans-serif;
    font-size: 6em;
    font-weight: 200;
    margin-left: 3%;
    margin-top: 0.5em;
}

#zensie-intro-text {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 3%;
    margin-top: 0.8em;    
}

.on {
    color: #5c8a01;
}

.off {
    color: #e84d08;
}

.zensie-boxes {
    margin-top: 5em;
}

#zensie-box-titles {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 0.8em;
}
/* ================================================ */
/* CONTACT SECTION ================================ */
/* ================================================ */

.google-map {
    position: relative;
}

.google-map-mask {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contact-text-1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 200;
    margin-top: 0.8em;   
    text-align: left; 
    margin-left: 3.5em;
    margin-top: 2.5em;
}

.contact-text-2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 200;
    text-align: left; 
    margin-left: 3.5em;
}

.left-col-map {
    margin-top: 11em;
}
.right-col-map {
    margin-top: 12em;
    float: right;
}

.contact-text-3 {
    font-family: 'Lato', sans-serif;
    color: #0fbced;
    font-size: 4em;
    font-weight: 400;
    text-align: left; 
    margin-left: 1.6em;    
    /*margin-top: 3em;*/
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    float: right;
    width: 80%;
    color: #0fbced;
    border: 6px solid rgba(217,217,217,1); 
    -webkit-box-shadow: 
      inset 0 0 3px  rgba(0,0,0,0.1),
            0 0 3px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 3px  rgba(0,0,0,0.1),
            0 0 3px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 3px  rgba(0,0,0,0.1),
            0 0 3px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,1);
    margin: 0 4em 3em 0;
}

.submit_button {
  float: left;
  margin-left: 10%;
  background: #0fbced;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 1em;
  padding: 5px 10px 5px 10px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.submit_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.contact-form textarea {
    height: 15em;
}
.contact-text-4 {
    font-family: 'TradeGothicLTStd-Light', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: left; 
    margin-left: 4.4em;    
    margin-top: 4.5em;
}

.contact-text-5, .contact-text-6{
    font-family: 'TradeGothicLTStd-Light', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    text-align: left; 
    margin-left: 4.4em;    
}

.contact-text-5 {
    margin-top: 1em;
}


.over-map {
    position: absolute;
    top: 0;
    left: 0;
}

.facebook-icon {
    margin-left: 6.4em;
    margin-top: 0.8em;
    float: left;
    width: 24px;
    height: 23px;
    display: block;
    background: transparent url('../images/fb-icon.png') center top no-repeat;
}

.twitter-icon {
    margin-top: 0.8em;
    margin-left: 1em;
    padding-left: 1.2em;
    float: left;
    width: 30px;
    height: 24px;
    display: block;
    background: transparent url('../images/twit-icon.png') center top no-repeat;
}

.linkedin-icon {
    margin-top: 0.8em;
    margin-left: 1em;
    float: left;
    width: 23px;
    height: 23px;
    display: block;
    background: transparent url('../images/linkedin-icon.png') center top no-repeat;
}




/* =============================================== */
/* TEAM SECTION ================================== */
/* =============================================== */
#team {
    background-color: #fafaf2;
    padding-top: 2em;
    padding-bottom: 5em;
}


.team-title-text{
    color:#b477e8;
    font-size: 5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: 6%;
    text-align: left;
}

.team-subtitle-text{
    color: #000;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /*margin-top: 3em;*/
    margin-left: 6%;
    text-align: left;
}

.purple-text{
    font-weight: 400;
    color:#b477e8;
}

/* =============================================== */
/* FOOTER SECTION ================================== */
/* =============================================== */

#footer{
    background-color: #fcf1eb;
    padding-top: 5em;
}

.footer-title{
    color:#ff201f;
    font-family: TradeGothicLTStd-Bd2, sans-serif;
}

#footer p a{
    color:#000000;
    font-family: TradeGothicLTStd-Bd2, sans-serif;
    font-size: 0.8em;
    /*letter-spacing: 1px;*/
    font-weight: bold;
}

#footer p a:hover{
    text-decoration: none;
    color:#ff201f;
}

.copyright{
    font-family: TradeGothicLTStd, sans-serif;
}



/*****************************************************/
/*       COW HOVER EFFECT                            */
/*****************************************************/

#color-cow {
    margin-top: 1em;
    width:520px;
    height:370px;
    background: url(../images/cow.png) no-repeat;
}

#color-cow:hover{
    width:520px;
    height:370px;
    background: url(../images/color_cow.png) no-repeat;

}



/* ================================================== */
/* Responsive Media ================================= */
/* ================================================== */

@media (min-width: 992px) and (max-width: 1199px) {
    .tour-4columns {
        margin-left: 1em;
    }
    .contact-text-1 {
        font-size: 1.8em;
    }
    .contact-text-2 {
        font-size: 1.8em;   
    }
    .contact-text-3 {
        font-size: 3.5em;
        margin-top: 0.5em;
    }
    .right-col-map {
        margin-top: 14em;
        float: right;
    }
    .contact-form input[type=text],
    .contact-form input[type=email],
    .contact-form textarea {    
        width: 100%;
    }
    .submit_button {
        margin-left: -18%;    
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    ul.navbar-nav {
        margin-right: -5%;
    }
    .tour-4columns {
        margin-left: 1em;
    }    
    .contact-text-1 {
        font-size: 1.8em;
    }
    .contact-text-2 {
        font-size: 1.8em;   
    }
    .contact-text-3 {
        font-size: 3.5em;
        margin-top: 0.5em;
    }
    .right-col-map {
        margin-top: 14em;
        float: right;
    }
    .contact-form input[type=text],
    .contact-form input[type=email],
    .contact-form textarea {    
        width: 100%;
    }
    .submit_button {
        margin-left: -18%;    
    }
    #footer {
        padding-left: 1.5em;
    }
    .copyright {
        position: absolute;
        right: 1em;
        top: -8.6em;
    }
}

@media (max-width: 768px) {
    .copyright {
        position: absolute;
        right: 0.1em;
        top: -8.6em;
    }
    .contact-text-1 {
        font-size: 1.6em;
    }
    .contact-text-2 {
        font-size: 1.6em;   
    }
    .contact-text-3 {
        font-size: 2.7em;
        margin-top: 0.5em;
    }
    .right-col-map {
        margin-top: 14em;
        float: right;
    }
    .contact-form input[type=text],
    .contact-form input[type=email],
    .contact-form textarea {    
        width: 100%;
    }
    .submit_button {
        margin-left: -18%;
    }
    .navbar-nav {
        margin-top: -15px;
    }
    .tour-col-text {
        margin-left: 3em;
    }  

}

@media (max-width: 640px) {

    .contact-text-1 {
        font-size: 1.5em;
        margin-left: 2em;
    }
    .contact-text-2 {
        font-size: 1.5em;   
        margin-left: 2em;
    }    
    .contact-text-3 {
        font-size: 1.9em;
        margin-top: 1.5em;
        margin-left: 1em;
    }    
    #footer {
        padding-left: 1.5em;
    }
    .copyright {
        position: absolute;
        right: 1em;
        top: -15.2em;
    }    

}





