#main-container {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
}

.picture {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    z-index: 1
}

.bg-pic{
	background-image: url("../images/work_in_progress_bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.happy-cow {
	width: 35%;
	margin-top: 15%;
}


.oops-text {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 5em;
}

.oo {
	color: #f15b29;
}

.oo2 {
	color: #71cee9;
}

.pp {
	color: #abd036;
}

.ss {
	color: #906fb1;
}

.work-text {
	font-family: 'Lato', sans-serif;
	font-size: 3.5em;
	font-weight: 200;
}

@media (max-width: 640px) {
	.work-text {
		font-size: 3em;

	}
}